node_modules/**
.env
.env.*
.npmrc
.pnpmfile.cjs
.pnpmfile.js
.pnpm-lock.yaml
.pnpm-workspace.yaml
pnpm-debug.log
yarn-error.log
npm-debug.log
test/**/node_modules/
test/**/coverage/
coverage/
.nyc_output/
*.log
package-lock.json
bin
.bin
.DS_Store
bin
node_modules
package-lock.json